<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="mat-sidenav">

      <mat-toolbar color="primary">
        <mat-toolbar-row class="user-workspace">
          <span>{{workspaceName}}</span>
        </mat-toolbar-row>

        <mat-toolbar-row class="user-details">
          <span>{{emailId}}</span>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-drawer-container class="sidenav-drawer">
        <mat-drawer mode="side" opened class="side-nav-drawer">
          <mat-nav-list td-sidenav-content class="bgc-purple-900">
            <mat-divider></mat-divider>
            <h3 mat-subheader class="channel-heading">CHANNELS
              <a>
                <mat-icon class="add-channel-icon" (click)=Channel()>playlist_add</mat-icon>
              </a>
            </h3>


            <div *ngIf="channelArray.length>0">
              <div *ngFor="let channel of channelArray">
                <a mat-list-item class="tc-white" (click)="getChannelName(channel)"><mat-icon class="tc-white" matListIcon>forum</mat-icon>
                  {{channel.channelName}}</a>
              </div>
            </div>
            <mat-divider></mat-divider>

            <mat-divider></mat-divider>
            <h3 mat-subheader class="channel-heading">Direct Messages
              <!-- <a>
                  <mat-icon class="add-channel-icon" (click)=Channel()>playlist_add</mat-icon>
                </a> -->
            </h3>


            <div *ngIf="directMessageChat.length>0">
              <div *ngFor="let directMessage of directMessageChat">
                <a mat-list-item class="tc-white" (click)="getChannelName(channel)"><mat-icon class="tc-white" matListIcon>forum</mat-icon>
                  {{directMessage.channelName}}</a>
              </div>
            </div>
            <mat-divider></mat-divider>

          </mat-nav-list>
        </mat-drawer>
      </mat-drawer-container>
    </mat-sidenav>

    <mat-sidenav-content class="sidenavContent">
      <!-- toolbar -->
      <div class="toolbar">
      <mat-toolbar color="primary">
        <mat-toolbar-row class="channel-name">
          <div>
            #{{channelName}}
          </div>
          <span class="example-spacer"></span>
          <button mat-button routerLink="/invite">Invite to workspace</button>
          <!-- <mat-icon class="example-icon" (click)="showChannelSettings">settings</mat-icon>
            <mat-icon class="example-icon" (click)="toggleChannelDetails()"> group </mat-icon>
            <mat-icon class="example-icon" (click)="toggleChannelDetails()"> search </mat-icon> -->
          <!-- <input #searchBox id="search-box" (keyup)="search(searchBox.value)" placeholder="Search Channel" /> -->
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

      <!-- <mat-drawer-container>
        <mat-drawer> -->
      <div>
      <mat-card class="message-card">
        <div *ngIf="channelmessages.length > 0" class="messagelistcontainer">
          <!-- <mat-list *ngFor="let message of channelmessages" class="message-list">
              {{message}}
            </mat-list> -->
          <!-- <div class="col-md-4 col-sm-6"> -->
            <div class="pmd-card pmd-z-depth message-list">
              <ul class="list-group pmd-list pmd-card-list" *ngFor="let message of channelmessages">
                <li class="list-group-item">
                  <div class="media-body">
                    <h3 class="pmd-card-title-text">{{message[0]}}</h3>
                    <span class="pmd-card-subtitle-text">{{message[1]}} </span>
                    <mat-divider></mat-divider>
                  </div>
                </li>
              </ul>
            <!-- </div> -->
          </div>
        </div>
        <!-- <mat-divider></mat-divider> -->
      </mat-card>
    </div>

    <div>
      <form class="message-form-input">
          <!-- <mat-card class="message-input"> -->
          <mat-form-field>
            <input matInput placeholder="Type your message" type="text" id="channelmessage" name="channelmessage" [(ngModel)]="channelmessage"
              required>
          </mat-form-field>
          <button mat-button class="send-button" (click)="sendMessageInChannel()"> <mat-icon>send</mat-icon> </button>
          <!-- </mat-card> -->
        </form>
      </div>
      <!-- </mat-drawer>
      </mat-drawer-container> -->
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>


