<!-- ----------------Bootstrap version------------------------------- -->




<div class="container-fluid">
  <div class="col-sm-3 sidebar" id="sidebar">
    <div class="row-xs-0">
      <nav class="navbar navbar-default nav-fixed-top side-navbar">
        <div class="workspacename">{{workspaceName}}
          <div id="toast">
            <div id="img">Icon</div>
            <div id="desc"> <a (click)="getSelectedChannelDetails(notigchannel)">see messaage</a></div>
          </div>
          <div class="dropdown-content">
            <a [href]="_loginHomeUrl" class="logout-button">
              <button type="button" class="logout btn btn-link">Log out</button>
            </a>
          </div>
        </div>
        <div class="emailID">{{emailId}} </div>
      </nav>
      <div class="sidebar-sub-container">

        <h3 class="channel-heading">Channels
          <a class="add-channel-icon">
            <mat-icon (click)=Channel()>playlist_add</mat-icon>
          </a>
        </h3>
        <div class="sidebar-sub-channel-container">
          <div>
            <!-- <ul class="list-group">
              <li *ngFor="let defaultChannel of defaultChannels" class="list-group-item user-list-item" (click)="getSelectedChannelDetails(defaultChannel)">
                #{{defaultChannel.channelName}}
              </li>
            </ul> -->
            <ul class="list-group">
              <div *ngFor="let channelstate of channelStateObject">
                <div *ngFor="let defaultChannel of defaultChannels">
                  <li *ngIf="channelstate.channelId == defaultChannel.channelId" class="list-group-item user-list-item" (click)="getSelectedChannelDetails(defaultChannel)">
                    <!-- #{{defaultChannel.channelName}} -->
                    #{{defaultChannel.channelName}}
                    <span *ngIf="channelstate.unreadMessageCount > 0" class="notification_badge">
                        {{channelstate.unreadMessageCount}}
                    </span>
                  </li>
                </div>
              </div>
            </ul>
          </div>
          <div *ngIf="channelArray.length>0">
            <!-- <ul class="list-group">
              <li *ngFor="let channel of channelArray" class="list-group-item user-list-item" (click)="getSelectedChannelDetails(channel)">
                #{{channel.channelName}}
              </li>
            </ul> -->
            <ul class="list-group">
              <div *ngFor="let channelstate of channelStateObject">
                <!-- <span class="tc-white" (click)="getSelectedChannelDetails(channel)">{{channel.channelName}}</span> -->
                <div *ngFor="let channel of channelArray">
                  <li *ngIf="channelstate.channelId == channel.channelId" class="list-group-item user-list-item" (click)="getSelectedChannelDetails(channel)">
                    #{{channel.channelName}}
                    <span *ngIf="channelstate.unreadMessageCount > 0" class="notification_badge">
                        {{channelstate.unreadMessageCount}}
                    </span>
                  </li>
                </div>
              </div>
            </ul>
          </div>
        </div>

        <h3 class="channel-heading">Direct Messages
        </h3>
        <div class="sidebar-sub-direct-container">

          <div *ngIf="allUsers.length>0">
            <!-- <ul *ngFor="let user of allUsers">
                  <a mat-list-item class="tc-white"><mat-icon class="tc-white" matListIcon>forum</mat-icon>
                    {{user.firstName}} {{user.lastName}}</a>
                  </ul> -->
            <ul class="list-group user-list">
              <!-- <li class="list-group-item user-list-item" (click)="getDirectMessageDetails(currentuser)">
                <span class="online-icon">
                  <i class="fas fa-circle"></i>
                </span>
                {{currentuser.firstName}} {{currentuser.lastName}} (You)
              </li> -->
              <!-- <span class="tc-white" (click)="getSelectedChannelDetails(channel)">{{channel.channelName}}</span> -->
              <li *ngFor="let user of allUsers" class="list-group-item user-list-item" (click)="getDirectMessageDetails(user)" [class.zero-height]="currentuser == user">

                <span class="online-icon" *ngIf="loggedInUsers.includes(user.emailId) == true && currentuser != user">
                  <i class="fas fa-circle"></i>
                </span>
                <span class="offline-icon" *ngIf="loggedInUsers.includes(user.emailId) == false && currentuser != user">
                  <i class="fa fa-circle"></i>
                </span>
                <span *ngIf="currentuser != user">{{user.firstName}} {{user.lastName}}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-9 main-chat-container" id="content">
    <div>
      <nav class="navbar navbar-default nav-fixed-top chat-navbar">
          <div *ngIf="selectedchannel == 'channel'; else elsepart;">
            <h3 class="channelname" id="sidebarCollapse">
              #{{channelName}}
            </h3>

            <div class="chat-navbar-links">

              <button mat-button (click)="addMembersToChannel()">Add Member</button>
              <button mat-button routerLink="/invite">Invite</button>
            </div>
          </div>
          <ng-template #elsepart>
            <h3 class="channelname">
              {{channelName}}
            </h3>
          </ng-template>


      </nav>

      <div class="message-container row-xs-12 row-sm-12" id="messageDiv" ngx-auto-scroll lock-y-offset="10">
        <div *ngIf="channelmessages.length > 0">
          <ul class="list-group">
            <button type="button" class="btn btn-light" (click)="loadMoreMessages()">Load Previous Messages</button>
            <li *ngFor="let message of channelmessages" style="list-style-type:none" class="message-list-holder row-lg-6 row-sm-12">
              <div class="chat row-xs-6 row-sm-6" [class.sender-align]="currentuser.firstName === message.sender['firstName']">
                <div class="user-photo"></div>
                <div class="message-body ">
                  <div class="sender">{{ message.sender.firstName }} </div>
                  <!-- {{message?.user['firstName']}}  -->
                  <div class="chat-message" [innerHTML]="message?.messageBody">{{message?.messageBody}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <form class="message-form-input row-xs-12">
        <mat-form-field>
          <input matInput placeholder="Type your message" type="text" id="channelmessage" name="channelmessage" [(ngModel)]="channelmessage"
            (click)="typingfunction()">
        </mat-form-field>
        <button mat-button class="send-button" (click)="sendMessageInChannel()"> <mat-icon>send</mat-icon> </button>
      </form>
    </div>

  </div>
</div>


