/* bootstrap version */
.container-fluid {
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
.sidebar {
  background: #320E3B;
  padding: 0;
  height: 100vh;
}
.side-navbar {
  /* background: #E6AF2E; */
  font-family:  'Lato', sans-serif;
  border: 0;
  border-bottom: 1px;
  text-align: center;
  border-radius: 0px;
  padding: 0;
  margin: 0;
  /* color: white; */
  font-weight: bold;
  text-shadow: 2px;
  height: 8vh;
 /* background-image: url("../../assets/images/10ed38490b10d9d6e21aa5eb8518e8db--freedom.jpg"); */
}
.sidebar-sub-container {
  /* overflow-y: hidden; */
  /* height: 100vh; */
  height: 92vh;
}
.sidebar-sub-channel-container {
  height: 40%;
  overflow-y: scroll;
}
.sidebar-sub-direct-container {
  height: 40%;
  overflow-y: scroll;
}
.add-channel-icon {
  float: right;
  padding-right: 10px;
  color: white;
}

.add-channel-mat-icon {
  color: #E6AF2E
}

.add-channel-icon:hover {
  cursor: pointer;
}
.zero-height {
  height: 0;
  padding: 0;
  border: 0;
}
.channel-heading {
  font-size: 18px;
  font-family:  'Lato', sans-serif;
  padding-left: 10px;
  color: white;
}
.notification_badge{
  z-index: 40;
  background: red;
  color: white;
  height: 20px;
  width: 20px;
  border-radius: 16px;
  text-align: center;
  float: right;
}
.chat-navbar {
  font-family:  'Lato', sans-serif;
  text-align: center;
  height: 8vh;
  padding: 0;
  margin: 0;
}

.workspacename {
  font-family:  'Lato', sans-serif;
  font-size: 20px;
}
.workspacename:hover {
  cursor: pointer;
}
.workspacename:hover .dropdown-content {
  display: block;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  width: 100%;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
}
.logout {
  color: white;
  font-weight: bolder
}
.logout:hover {
  text-decoration: none;
  color: rgb(199, 35, 35);
}
.main-chat-container {
  font-family:  'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.chat-navbar-content {
  justify-content: space-evenly;
}
.channelname {
  font-family:  'Lato', sans-serif;
  float: left;
  margin: 0;
  padding-top:10px;
  padding-left: 10px;
  align-self: center;
  font-weight: bolder
}
.chat-navbar-links {
  float: right;
  padding-top: 10px;

}

.chat-navbar-links :hover {
  cursor: pointer;
}

.chat-navbar-links i {
  margin-left: 10px;
  margin-right: 10px;
}
.message-form-input {
  outline: #320E3B;
  font-family:  'Lato', sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  overflow: hidden;
  color: black;
}
mat-form-field {
  width: 67%;
  padding: 10px;
  height: 80px;
}
.message-container {
  /* padding: 15px; */
  /* height: -webkit-fill-available; */
  height: 80%;
  width: -webkit-fill-available;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  /* position: fixed; */
  /* background: url(../../assets/images/chatbackground.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}
.message-body {
  width: 95%;
  margin-top: 10px;
  margin-left: 7px;
}
/* #messageDiv {
  height: 80%;
  width: -webkit-fill-available;
  overflow: auto
} */
.message-list-holder {
 margin: 20px;
}
.chat {
  box-shadow: 3px 3px 3px 3px #e9eaeb;
  font-family:  'Lato', sans-serif;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  /* background: #F1F1FB; */
  background: #D8DBE2;
  /* background: white; */
  border-radius: 10px;
  max-width:50%;
}

.chat .user-photo {
  width: 40px;
  height: 40px;
  margin: 20px;
  background: url("../../assets/images/avatar.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 50%;
}
.sender {
  font-weight: bolder;
  overflow-wrap: break-word;
  padding-left: 14px;
}
.chat .chat-message {
  font-family:  'Lato', sans-serif;
  width: 100%;
  padding: 15px;
  margin: 5px 15px 0;
  overflow-wrap: break-all;
}

.chat-message {
  overflow-wrap: break-word;
  margin: 0 !important;
}
/* .float-left {
  clear: both;
  float: left;
}
*/
.float-right {
  float: right;
}
.sender-align {
  background: rgb(255, 237, 241);
  margin-right: 0px;
  margin-left: 50%
}
.fas:before{
  color:rgb(136, 223, 5);
  font-size:10px;
  padding-right: 20px;
 }
 .fa:before{
   color: gray;
  font-size:10px;
  padding-right: 20px;
 }
 .user-list {
   background: #320E3B
 }
 .user-list-item {
   background: #320E3B;
   color: white;
   border: 0;
   cursor: pointer;
 }
 .user-list-item:hover{
  background: rgb(36, 1, 49)
 }
 ::-webkit-scrollbar {
  width: 8px;
}
/* Track */
div.sidebar-sub-container::-webkit-scrollbar-track {
  background: #320E3B;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
@media (min-width: 1200px) {
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  div.sidebar{
    display: none;
  }
  #sidebar {
    margin-right: -250px;
  }
  #sidebar.active {
    display: block;
      margin-left: 0;
}
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  div.user-photo{
    display: none
  }
}
/* notification css */
#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
 }
 @-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
 }
 @keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
 }
 @-webkit-keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
 }
 @keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
 }
 @-webkit-keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
 }
 @keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
 }
 @-webkit-keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
 }
 @keyframes shrink {
  from {min-width: 350px;}
  to {min-width: 50px;}
 }
 @-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
 }
 @keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 60px; opacity: 0;}
 }
 #toast {
  visibility: hidden;
  max-width: 50px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  position: fixed;
  z-index: 1;
  left: 0;right:0;
  bottom: 30px;
  font-size: 17px;
  white-space: nowrap;
 }
 #toast #img{
 width: 50px;
 height: 50px;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
 }
 #toast #desc{
  color: #fff;
  padding: 16px;
  overflow: hidden;
 white-space: nowrap;
 }


 /* hrishi footer css */
 * {
  box-sizing: border-box;
}
body {
  background-color: #edeff2;
  font-family: "Calibri", "Roboto", sans-serif;
}
.chat_window {
  position: absolute;
  width: calc(100% - 20px);
  max-width: 800px;
  height: 500px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow: hidden;
}
.top_menu {
  background-color: #fff;
  width: 100%;
  padding: 20px 0 15px;
  box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}
.top_menu .buttons {
  margin: 3px 0 0 20px;
  position: absolute;
}
.top_menu .buttons .button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}
.top_menu .buttons .button.close {
  background-color: #f5886e;
}
.top_menu .buttons .button.minimize {
  background-color: #fdbf68;
}
.top_menu .buttons .button.maximize {
  background-color: #a3d063;
}
.top_menu .title {
  text-align: center;
  color: #bcbdc0;
  font-size: 20px;
}
.messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  height: 347px;
  overflow: scroll;
}
.messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.messages .message.left .text_wrapper::after, .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.messages .message.left .text {
  color: #c48843;
}
.messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.messages .message.right .text_wrapper::after, .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.messages .message.right .text {
  color: #45829b;
}
.messages .message.appeared {
  opacity: 1;
}
.messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 85px);
  min-width: 100px;
  position: relative;
}
.messages .message .text_wrapper::after, .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.messages .message .text_wrapper::after {
  border-width: 13px;
  margin-top: 0px;
}
.messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}
.bottom_wrapper {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 20px 20px;
  position: absolute;
  bottom: 0;
}
.bottom_wrapper .message_input_wrapper {
  background: rgb(255, 255, 255);
  display: inline-block;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #320E3B;
  width: calc(100% - 120px);
  position: relative;
  padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 120px);
  position: absolute;
  outline-width: 0;
  color: gray;
}

.message_input {
  width: calc(100% - 40px) !important;
  color: black !important;
}
.bottom_wrapper .send_message {
  width: 105px;
  height: 40px;
  display: inline-block;
  border-radius: 20px;
  background-color: #320E3B;
  border: 2px solid #320E3B;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}

.bottom_wrapper .send_message:hover {
  color: #320E3B;
  background-color: #E6AF2E;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 37px;
}
.message_template {
  display: none;
}
