<div class="mailbg">
    <h1 class="title">Create a channel</h1>
    <form class ="enterChannel">
      <input type="text" class="form-control mailinput" placeholder="Channel Name" formControlName ="channelName" required>
    </form>
    <label class="l1">Select the users you want to add to the channel:</label>
    <mat-selection-list [(ngModel)]= userSelected #selectedUsers class="userList">
      <mat-list-option *ngFor="let user of allUsers" [value]=user>
        {{user.firstName}}
      </mat-list-option>
    </mat-selection-list>
    <button class="sendmess">Create Channel</button>
   </div>
